{% load static %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/all_courses.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Anek+Malayalam:wght@100..800&family=Bungee&family=Gravitas+One&family=Italianno&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Yesteryear&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <title>All Courses</title>
  </head>

  <body>
    <!-- Header -->

    <header id="header">
      <div class="img-con">
        <img src="{% static 'images/logo.png' %}" alt="logo" />
      </div>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="{% url 'course_type' 'technology' %}"
              >Technology & Development</a
            >
          </li>

          <li>
            <a href="{% url 'course_type' 'career' %}"
              >Career & Professional Growth</a
            >
          </li>

          <li>
            <a href="{% url 'about' %}">about us</a>
          </li>

          <li>
            <a href="{% url 'become_teacher' %}">Become Teacher</a>
          </li>

          <li>
            <a href="{% url 'contact' %}">Contact us</a>
          </li>
        </ul>
      </nav>

      <div class="auth-section">
        {% if request.user.is_authenticated %}

        <h3 class="user-name">Welcome {{ request.user.username }}</h3>

        <p class="role-text">{{ request.user.role }}</p>

        <a href="/logout/">
          <button class="btn">Logout</button>
        </a>

        {% else %}

        <a href="/login/">
          <button class="btn">Login</button>
        </a>

        {% endif %}
      </div>
    </header>
    <!--end of header-->
    <div class="courses-container">
      <div class="courses-heading-section">
        <h1>Explore Courses</h1>

        <p>Learn modern skills from expert instructors</p>
      </div>

      <div class="courses-grid">
        {% for course in courses %}

        <div class="single-course-card">
          <img src="{{ course.thumbnail.url }}" />

          <div class="single-course-content">
            <h2>{{ course.title }}</h2>

            <p>{{ course.description }}</p>

            <a href="/course/{{ course.id }}/">
              <button>View Course</button>
            </a>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </body>
</html>
