{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Contact Us</title>

    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Anek+Malayalam:wght@100..800&family=Bungee&family=Gravitas+One&family=Italianno&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Yesteryear&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>

  <body>
    <!-- Header -->

    <header id="header">
      <div class="img-con">
        <img src="{% static 'images/logo.png' %}" alt="logo" />
      </div>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="{% url 'course_type' 'technology' %}"
              >Technology & Development</a
            >
          </li>

          <li>
            <a href="{% url 'course_type' 'career' %}"
              >Career & Professional Growth</a
            >
          </li>

          <li>
            <a href="{% url 'about' %}">about us</a>
          </li>

          <li>
            <a href="{% url 'become_teacher' %}">Become Teacher</a>
          </li>

          <li>
            <a href="{% url 'contact' %}">Contact us</a>
          </li>
        </ul>
      </nav>

      <div class="auth-section">
        {% if request.user.is_authenticated %}

        <h3 class="user-name">Welcome {{ request.user.username }}</h3>

        <p class="role-text">{{ request.user.role }}</p>

        <a href="/logout/">
          <button class="btn">Logout</button>
        </a>

        {% else %}

        <a href="/login/">
          <button class="btn">Login</button>
        </a>

        {% endif %}
      </div>
    </header>
    <!--end of header-->

    <div class="container">
      <div class="left-section">
        <h1>Contact Us</h1>

        <p>
          We'd love to hear from you. Reach out for support, suggestions, or
          collaboration.
        </p>

        <div class="contact-info">
          <p>Email : support@rc-edu.com</p>

          <p>Phone : +91 7013512314219</p>

          <p>Location : Hyderabad, India</p>
        </div>
      </div>

      <div class="right-section">
        <form class="contact-form">
          <h2>Send Message</h2>

          <input type="text" placeholder="Your Name" />

          <input type="email" placeholder="Your Email" />

          <textarea rows="5" placeholder="Your Message"></textarea>

          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
    <footer>© 2026 RC-Edu. All Rights Reserved.</footer>
  </body>
</html>
