{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Create Course</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_course.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Anek+Malayalam:wght@100..800&family=Bungee&family=Gravitas+One&family=Italianno&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Yesteryear&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>

  <body>
    <header id="header">
      <div class="img-con">
        <img src="{% static 'images/logo.png' %}" alt="logo" />
      </div>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="{% url 'course_type' 'technology' %}"
              >Technology & Development</a
            >
          </li>

          <li>
            <a href="{% url 'course_type' 'career' %}"
              >Career & Professional Growth</a
            >
          </li>

          <li>
            <a href="{% url 'about' %}">about us</a>
          </li>

          <li>
            <a href="{% url 'become_teacher' %}">Become Teacher</a>
          </li>

          <li>
            <a href="{% url 'contact' %}">Contact us</a>
          </li>
        </ul>
      </nav>

      <div class="auth-section">
        {% if request.user.is_authenticated %}

        <h3 class="user-name">Welcome {{ request.user.username }}</h3>

        <p class="role-text">{{ request.user.role }}</p>

        <a href="/logout/">
          <button class="btn">Logout</button>
        </a>

        {% else %}

        <a href="/login/">
          <button class="btn">Login</button>
        </a>

        {% endif %}
      </div>
    </header>

    <div class="course-container">
      <div class="top-section">
        <div class="icon-box">🎓</div>

        <h1>Create Course</h1>

        <p>Build and publish your professional course.</p>
      </div>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <label> Course Title </label>

          <input type="text" name="title" placeholder="Enter course title" />
        </div>

        <div class="form-group">
          <label> Description </label>

          <textarea
            name="description"
            placeholder="Write course description..."
          >
          </textarea>
        </div>

        <div class="form-group">
          <label> Course Type </label>

          <select name="course_type">
            <option value="technology">Technology & Development</option>

            <option value="career">Career & Professional Growth</option>

            <option value="communication">Communication & Placement</option>

            <option value="creativity">Creativity & Innovation</option>

            <option value="others">Others</option>
          </select>
        </div>

        <div class="form-group">
          <label> Upload Thumbnail </label>

          <input type="file" name="thumbnail" />
        </div>

        <button type="submit" class="submit-btn">Create Course</button>
      </form>
    </div>

    <footer>© 2026 RC-Edu. All Rights Reserved.</footer>
  </body>
</html>
