{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Student Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Anek+Malayalam:wght@100..800&family=Bungee&family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Yesteryear&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/stu_dashboard.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <div class="dashboard-container">
      <!-- Sidebar -->

      <div class="sidebar">
        <div class="logo-box">
          <i class="fa-solid fa-graduation-cap"></i>
        </div>

        <ul>
          <li class="active">
            <a href="{% url 'student_dashboard' %}">
              <i class="fa-solid fa-table-columns"></i>

              Dashboard
            </a>
          </li>

          <li>
            <a href="{% url 'all_courses' %}">
              <i class="fa-solid fa-pen"></i>

              Browse Course
            </a>
          </li>

          <li>
            <a href="{% url 'my_learning' %}">
              <i class="fa-solid fa-book"></i>

              My Learning
            </a>
          </li>

          <li>
            <a href="{% url 'about' %}">
              <i class="fa-solid fa-circle-minus"></i>

              About Us
            </a>
          </li>

          <li>
            <a href="#notice_section_std">
              <i class="fa-solid fa-bell"></i>

              Notice
            </a>
          </li>

          <li>
            <a href="{% url 'contact' %}">
              <i class="fa-solid fa-calendar"></i>

              contact us
            </a>
          </li>
        </ul>

        <a href="{% url 'logout' %}" class="logout-btn">
          <i class="fa-solid fa-right-from-bracket"></i>

          Logout
        </a>
      </div>

      <!-- Main Content -->

      <div class="main-content">
        <!-- Top Bar -->

        <div class="topbar">
          <div class="search-box">
            <input type="text" placeholder="Search" />
          </div>

          <div class="profile">
            <img src="{{ request.user.profile_pic.url }}" alt="" />
            <!-- <img src="https://i.pravatar.cc/100" alt="" /> -->

            <div>
              <h3>{{ request.user.username }}</h3>

              <p>Student</p>
            </div>
          </div>
        </div>

        <!-- Banner -->

        <div class="banner">
          <div class="banner-text">
            <p>September 4, 2023</p>

            <h1>Welcome back, {{ request.user.username }}!</h1>

            <span> Always stay updated in your student portal </span>
          </div>

          <img class="img-man" src="{% static 'images/man.png' %}" alt="" />
        </div>

        <!-- Courses -->

        <div class="section-header">
          <h2>Enrolled Courses</h2>

          <a href="/courses/"> See all </a>
        </div>

        <div class="course-container">
          {% for item in progress_data %}

          <div class="course-card">
            <!-- Thumbnail -->

            <div class="course-image">
              {% if item.course.thumbnail %}

              <img src="{{ item.course.thumbnail.url }}" alt="course image" />

              {% else %}

              <img
                src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1200&auto=format&fit=crop"
                alt="default image"
              />

              {% endif %}
            </div>

            <!-- Course Content -->

            <div class="course-content">
              <h3>{{ item.course.title }}</h3>

              <p>Progress : {{ item.progress_percentage }}%</p>
              <div class="progress-bar">
                <div
                  class="progress progress-{{ item.progress_percentage }}"
                ></div>
              </div>

              <a href="/course/{{ item.course.id }}/">
                <button>Continue</button>
              </a>
            </div>
          </div>

          {% empty %}

          <h3>No Courses Enrolled Yet</h3>

          {% endfor %}
        </div>

        <!-- Notices Section -->
        <section id="notice_section_std">
          <div class="section-header notice-head">
            <h2>Latest Notices</h2>
          </div>

          <div class="notice-container">
            {% for notice in notices %}

            <div class="notice-card">
              <div class="notice-top">
                <div class="notice-icon">
                  <i class="fa-solid fa-bell"></i>
                </div>

                <div>
                  <h3>{{ notice.title }}</h3>

                  <span> {{ notice.created_at }} </span>
                </div>
              </div>

              <p>{{ notice.message }}</p>
            </div>

            {% empty %}

            <h3>No Notices Available</h3>

            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
